/* 📱 Mobile View Fix */
@media (max-width: 768px) {

  /* 🔹 Reduce font size */
  .container,
  .card,
  .form-control,
  label,
  h3,
  h6,
  textarea,
  input,
  select,
  button {
    font-size: 12px !important;
  }

  /* 🔹 Webcam layout change */
  .webcam-container {
    display: flex;
    flex-direction: column !important;
    align-items: center;
  }

  .webcam-container video {
    width: 100% !important;
    max-height: 300px !important;
  }

  /* 🔹 Buttons below webcam in one row */
  .webcam-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
    margin-top: 10px;
  }

  .webcam-buttons .btn {
    flex: 1;
    padding: 6px;
    font-size: 12px;
  }

  
.toast-box{
  top:120px !important;
}
}

.camIcon{
  font-size: 2rem;
}

.toast-box {
  position: fixed;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 250px;
  padding: 12px 18px;
  border-radius: 10px;
  color: white;
  font-weight: 500;
  z-index: 9999;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.toast-box.success {
  background: linear-gradient(45deg, #28a745, #218838);
}

.toast-box.error {
  background: linear-gradient(45deg, #dc3545, #c82333);
}